body {
background-color: rgb(200,173,127);
color: black;
}
padding: 60px

body{ font-family: sans-serif;
}
body {line-height: 1.6;
}
body {font-size: 15px; 
}

h1 { font size : 25px;
}

h2 {font-size: 25px;
}

h3 {font-size: 25px;
}

h4 {font-size: 25px;
}

h5 {font-size: 25px;
}
.img-circle {
		border-radius: 50%;
}
